
<div class="container">
  <h1>Chi tiết đơn hàng</h1>
  
  <div class="row">
    <div class="col-md-6">
      <h3>Thông tin đơn hàng</h3>
      <p><strong>Mã đơn hàng:</strong> {{ orderResponse.id }}</p>
      <p><strong>Họ tên người đặt:</strong> {{ orderResponse.fullname }}</p>
      <p><strong>Số điện thoại:</strong> {{ orderResponse.phone_number }}</p>
      <p><strong>Email:</strong> {{ orderResponse.email }}</p>
      <p><strong>Địa chỉ nhận hàng:</strong> {{ orderResponse.shipping_address }}</p>
      <p><strong>Ghi chú:</strong> {{ orderResponse.note }}</p>
      <p><strong>Ngày đặt hàng:</strong> {{ orderResponse.order_date | date:'dd/MM/yyyy' }}</p>
      
      <div class="form-group">
        <label for="statusSelect"><strong>Status:</strong></label>
        <select class="form-control" id="statusSelect" 
          [(ngModel)]="orderResponse.status">
          <option value="pending">Đợi duyệt</option>
          <option value="processing">Chờ lấy hàng</option>
          <option value="shipping">Đang vận chuyển</option>
          <option value="delivered">Đã giao</option>
          <option value="cancelled">Đã huỷ</option>
        </select>
      </div>          
  </div>  
  <h3>Chi tiết đơn hàng</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Thành tiền</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order_detail of orderResponse.order_details; 
        let i = index">
        <td>{{ order_detail.product_name }}</td>
        <td>
          <p>{{order_detail.price | currency:'VND'}}</p>          
        <td>
          <p>{{order_detail.number_of_products}}</p>          
        </td>
        <td>{{ order_detail.price * order_detail.number_of_products | currency:'VND' }}</td>
      </tr>
    </tbody>
  </table>  
  <button class="btn btn-primary col-md-2" 
    (click)="saveOrder()">Cập nhật</button>
</div>