// .footer-description {
//     color: rgb(173, 178, 203);
// }
.footer {
    background: white;
    color: #212529;
    padding: 40px 0;
    font-size: 14px;
    border-top:1px solid #cacaca;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
  }
  
  .footer-section {
    width: 22%;
    
  }
  .footer-section p{
    color: #5c6670;
  }
  
  .footer-section h4 {
    margin-bottom: 15px;
    font-size: 16px;
    border-bottom: 2px solid #212529;
    padding-bottom: 5px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 8px 0;
  }
  
  .footer-section ul li a {
    color: #5c6670;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .footer-section ul li a:hover {
    color: black;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icons a {
    color: #5c6670;
    font-size: 20px;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    color: black;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #cacaca;
  }
  